{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' rel='stylesheet' href='{% static "css/login.css" %}' />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Translate Language</title>
</head>

<body>
    <div>
        <h1>Google With Sign In</h1>
        <a href='http://127.0.0.1:8000/transLanguage/'><i class="fas fa-arrow-circle-right font"></i></a>
    </div>
</body>

</html>